@import 'resets', 'variables';

body {
    font-family: Karla, sans-serif;
    background-color: $page-background-color;
    color: $text-color;
}

.front-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.front-page-description {
    font-weight: 400;
    font-size: 1.2em;
}

.start-button {
    margin-top: 20px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    width: 193px;
    height: 52px;
    border: none;
    border-radius: 17px;
    font-size: 1em;
}