@import 'resets', 'variables';

body {
    font-family: Karla, sans-serif;
    background-color: $page-background-color;
    color: $page-text-color;
}

.front-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.yellow-blob,
.blue-blob {
    position: fixed;
}

.yellow-blob {
    top: 0;
    right: 0;
}

.blue-blob {
    bottom: 0;
    left: 0;
}

.front-page-description {
    font-weight: 400;
    font-size: 1.2em;
}

.control-button {
    margin-top: 20px;
    background-color: $control-button-color;
    color: $control-button-text-color;
    width: 193px;
    height: 52px;
    border: none;
    border-radius: 17px;
    font-size: 1em;
    cursor: pointer;
}

.control-button:active {
    background-color: darken($control-button-color, 7);
}